@tailwind base;
@tailwind components;
@tailwind utilities;

 
 /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.436); 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

html{
  scroll-behavior: smooth;
}

.cairo-font {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



